<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="mb-2">User info</h2>
      <%= form_with model:@user, local:true do |f| %>
        <div class="text-danger">
        <%= render 'books/error_messages', miss:@user %>
        </div>
        <div class="form-group mb-3">
          <label class="d-block mb-2">Name</label>
          <%= f.text_field :name %>
        </div>
        <div class="form-group mb-3">
          <label class="d-block mb-2">Image</label>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
        </div>
        <div class="form-group mb-3">
          <label class="d-block mb-2">Introduction</label>
          <%= f.text_field :introduction %>
        </div>
        <div class="form-group mb-3"><%= f.submit 'Update User', class:"btn btn-secondary" %></div>
      <% end %>
    </div>
  </div>
</div>